body,html{
  background-color: whitesmoke;
  height: 98%;
  margin: 0;
  margin-top: 0;
}
table{
  border:2px red;
}
.button{
  width: 180px;
  background-color: green;
  text-align: center;
  height: 35px;
  margin-left: 70px;
  border-radius: 7px;
}
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: aliceblue;
}
.hello{
  font-size: large;
  font-weight:300;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body
{
background-image:url(travel.jpg);
background-repeat: no-repeat;
background-size: cover;
}
table
{
    border-collapse:collapse;
        width: 25%;
    background-color: aliceblue; 
}
h2{
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}
td {
    
    padding: 13px;
    color: black;
}
div
{
    text-align: center;
    
}

#name{
  height: 23px;
  width: 300px;
  margin: 8px;
}
#email{
  height: 23px;
  width: 300px;
  margin: 8px;
}
#destination{
  height: 23px;
  width: 300px;
  margin: 8px;
}
#travelers{
  height: 23px;
  width: 300px;
  margin: 8px;
}
#budget{
  height: 23px;
  width: 300px;
  margin: 8px;
}
.name{
  margin-left: 8px;
}
.email{
  margin-left: 8px;
}
.destination{
  margin-left: 8px;
}
.travelers{
  margin-left: 8px;
}
.budget{
  margin-left: 8px;
}
